@-webkit-keyframes moveX {
  from {
    inset-inline-start: -17px;
  }
  to {
    inset-inline-start: -13px;
  }
}

@keyframes moveX {
  from {
    inset-inline-start: -17px;
  }
  to {
    inset-inline-start: -13px;
  }
}

@-webkit-keyframes changeScaleHeart {
  from {
    transform-origin: 50% 50%;
    scale: 1;
  }
  to {
    transform-origin: 50% 50%;
    scale: 1.5;
  }
}

@keyframes changeScaleHeart {
  from {
    transform-origin: 50% 50%;
    scale: 1;
  }
  to {
    transform-origin: 50% 50%;
    scale: 1.5;
  }
}

@-webkit-keyframes changeSparksOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeSparksOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  -webkit-animation: changeScaleHeart 0.3s 0.1s ease-in alternate;
  animation: changeScaleHeart 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  -webkit-animation: changeSparksOpacity 0.3s 0.3s ease-in alternate;
  animation: changeSparksOpacity 0.3s 0.3s ease-in alternate;
}
